.person-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*margin-top: 40px;*/
}
.cell {
  padding: 16px;
}
.button:hover {
  font-weight: bold;
  /*transform: scale(1.1);*/

}

.edit-button {

}

.delete-button {
  cursor: pointer;
  color: red;
}

