<div class="edit-person-modal" [class.hidden]="hidden">
  <div class="dim"></div>

  <div class="edit-person-modal__container container">
    <h2>Редактирование</h2>
    <input type="text" placeholder="Имя" class="form-control" #firstnameModalInput>
    <input type="text" placeholder="Фамилия" class="form-control" #lastnameModalInput>
    <div class="row">
      <div class="col-1"></div>
      <button class="form-control button save col-4"
      (click)="onSave()">Сохранить</button>
      <div class="col-2"></div>
      <button class="form-control button cancel col-4"
           (click)="onCancel()"
      >Отменить</button>
      <div class="col-1"></div>
    </div>
  </div>

</div>
