<div class="container">
  <div class="row">
    <h2>{{title}}</h2>
  </div>
</div>

<app-search-bar
(typeEventEmitter)="onType($event)"
></app-search-bar>

<!--<div class="row container">-->
<!--  <div class="col-1">Поиск:</div>-->
<!--  <input-->
<!--    type="text"-->
<!--    placeholder="Введите имя, фамилию..."-->
<!--    class="col-11"-->
<!--    [(ngModel)]="searchString"-->
<!--    (input)="onType(searchString)"-->
<!--  >-->
<!--</div>-->


<app-person-view
  [inPerson]="person"
  *ngFor="let person of persons"
  (deletePerson)="onDeletePerson($event)"
  (editPerson)="onEditPerson($event)"
>

</app-person-view>
<hr>

<app-person-add
  (addperson)="onAddPerson($event)"
></app-person-add>

<app-edit-person-modal
  (onModalSave)="onEditModalSave($event)"
></app-edit-person-modal>
