<div class="container">
  <div class="row">
    <h2>{{title}}</h2>
  </div>
</div>

<app-search-bar
(typeEventEmitter)="onType($event)"
></app-search-bar>

<app-person-view
  [inPerson]="person"
  *ngFor="let person of this.personService.displayedPersons"
  (deletePerson)="onDeletePerson($event)"
  (editPerson)="onEditPerson($event)"
>

</app-person-view>
<hr>

<app-person-add
  (addperson)="onAddPerson($event)"
></app-person-add>

<app-edit-person-modal
  (onModalSave)="onEditModalSave($event)"
></app-edit-person-modal>
